<template>
    <div v-if="loading" class="container center_div">
			<div class="row">
				<div class="col-md-12">
					<h3>iFormBuilder</h3>
					
					<div class="col-md-5 IformBuilder_form">
					<p id="success"></p>
						
						<form @submit.prevent="store">
                            
							<div class="form-group row">
								<label for="formGroupFirstNameInput">First Name<span>*</span></label>
								<input type="text" name="firstName" class="form-control" placeholder="First Name" v-model="firstName">
							</div>
							<div class="form-group row">
								<label for="formGroupLastNameInput">Last name<span>*</span></label>
								<input type="text" name="lastName" class="form-control" v-model="lastName" placeholder="Last Name">
							</div>
							</br>
							<button v-if="btn_load" type="submit" id="submit" name="submit" class="btn btn-primary">Submit</button>
							<button v-else name="submit" :disabled="hasClicked" class="btn btn-secondary">Loading..</button>
							
						</form>
					</div>
				</div>
			
			</div>
            </br>
            <div v-if="users">
                <h3>iFormBuilder Data</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="user in users" :key="user.id">
                        <td>{{user.id}}</td>
                        <td>{{user.first_name}}</td>
                        <td>{{user.last_name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>				
		</div>
    <div v-else>
        Loading ...
    </div>
</template>

<script>
    export default {
        data(){
            return {
              firstName: '',
              lastName: '',
              users: [],
              loading: false,
              btn_load: true,
              hasClicked: false
            }
        },
        mounted() {
            this.getData()
        },
        methods: {
            getData(){
                axios.get('/getData')
                     .then((response)=>{
                       this.users = response.data
                       this.loading = true
                     })
            },
            btn_loader(){
                this.btn_load = true;
            },
            store(){
                this.btn_load = false
                this.hasClicked = true
                axios.post('/store',{firstName: this.firstName, lastName:this.lastName})
                .then((response)=>{
                    $('#success').html(response.data.message)
                    this.getData()
                    this.btn_load = true
                    this.hasClicked= false
                })
            }
        }
    }
</script>
<style>
    .center_div{
    padding-top: 20px;
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
</style>